<h1>{{ title }}</h1>

<section class="bloco">
  <h2>Resumo estastico dos Números</h2>

  <div class="resumo-grid">
    <div class="resumo-card destaque">
      <h3>Números mais sorteados</h3>
      <div class="lista-resumo">
        <div class="item-resumo" *ngFor="let item of numerosMaisFrequentes">
          <span class="numero">{{ item.numero }}</span>
          <span class="quantidade">{{ item.frequencia }} vezes</span>
        </div>
      </div>
    </div>
    <div class="resumo-card destaque-fraco">
      <h3>Números menos sorteados</h3>
      <div class="lista-resumo">
        <div class="item-resumo" *ngFor="let item of numerosMenosFrequentes">
          <span class="numero">{{ item.numero }}</span>
          <span class="quantidade">{{ item.frequencia }} vezes</span>
        </div>
      </div>
    </div>
  </div>
  <h2>Frequência dos Números</h2>
  <div class="frequencia-grid">
    <div class="frequencia-card" *ngFor="let item of frequencias">
      <span class="numero">{{ item.numero }}</span>
      <span class="quantidade">{{ item.frequencia }} vezes</span>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Faixa - Baixa e Alta</h2>
  <div class="faixa-grid">
    <div class="faixa-card" *ngFor="let item of resumoFaixa">
      <div class="faixa-topo">
        <span>{{ item.baixos }} baixos</span>
        <span>{{ item.altos }} altos</span>
      </div>
      <div class="faixa-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Faixa - Baixa e Alta</h2>
  <div class="tabela-wrapper">
    <table class="tabela-faixa">
      <thead>
        <tr>
          <th>Concurso</th>
          <th>Data</th>
          <th>Baixos</th>
          <th>Altos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseFaixa">
          <td>{{ item.concurso }}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.baixos }}</td>
          <td>{{ item.altos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Repetição</h2>
  <div class="repeticao-grid">
    <div class="repeticao-card" *ngFor="let item of resumoRepeticao">
      <div class="repeticao-topo">
        <span>{{ item.quantidadeRepetidos }} números repetidos</span>
      </div>
      <div class="repeticao-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Repetição</h2>
  <div class="tabela-wrapper">
    <table class="tabela-repeticao">
      <thead>
        <tr>
          <th>Concurso Atual</th>
          <th>Data Atual</th>
          <th>Concurso Anterior</th>
          <th>Data Anterior</th>
          <th>Quantidade Repetidos</th>
          <th>Números Repetidos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseRepeticao">
          <td>{{ item.concursoAtual }}</td>
          <td>{{ item.dataAtual }}</td>
          <td>{{ item.concursoAnterior }}</td>
          <td>{{ item.dataAnterior }}</td>
          <td>{{ item.quantidadeRepetidos }}</td>
          <td>{{ item.numerosRepetidos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Paridade</h2>
  <div class="paridade-grid">
    <div class="paridade-card" *ngFor="let item of resumoParidade">
      <div class="paridade-topo">
        <span class="descricao">{{ item.pares }} pares</span>
        <span class="quantidade">{{ item.impares }} ímpares</span>
      </div>
      <div class="paridade-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Paridade</h2>
  <div class="tabela-wrapper">
    <table class="tabela-paridade">
      <thead>
        <tr>
          <th>Concurso</th>
          <th>Data</th>
          <th>Pares</th>
          <th>Ímpares</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseParidade">
          <td>{{ item.concurso }}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.pares }}</td>
          <td>{{ item.impares }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Histórico de Concursos</h2>
  <div *ngFor="let concurso of historico" class="card-concurso">
    <h3>Concurso {{ concurso.concurso }} - {{ concurso.data }}</h3>

    <div class="bolas">
      <span class="bola" *ngFor="let bola of concurso.bolas">
        {{ bola }}
      </span>
    </div>
  </div>
</section>
