<h1>{{ title }}</h1>

<section class="bloco">
  <h2>Jogo Gerado com diversidade</h2>

  <section class="bloco">
    <h2>Configurações do Gerador</h2>

    <form class="form-configuracoes" (ngSubmit)="aplicarConfigucoes()">
      <div class="form-grid">
        <div class="campo-formulario">
          <label for="quantidadeNumeros">Quantidade de Números</label>
          <input
            type="number"
            id="quantidadeNumeros"
            [(ngModel)]="configuracaoGerador.quantidadeNumeros"
            name="quantidadeNumeros"
            min="15"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="quantidadePares">Quantidade de Pares</label>
          <input
            type="number"
            id="quantidadePares"
            [(ngModel)]="configuracaoGerador.quantidadePares"
            name="quantidadePares"
            min="0"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="quantidadeImpares">Quantidade de Ímpares</label>
          <input
            type="number"
            id="quantidadeImpares"
            [(ngModel)]="configuracaoGerador.quantidadeImpares"
            name="quantidadeImpares"
            min="0"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="quantidadeBaixos">Quantidade de Baixos</label>
          <input
            type="number"
            id="quantidadeBaixos"
            [(ngModel)]="configuracaoGerador.quantidadeBaixos"
            name="quantidadeBaixos"
            min="0"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="quantidadeAltos">Quantidade de Altos</label>
          <input
            type="number"
            id="quantidadeAltos"
            [(ngModel)]="configuracaoGerador.quantidadeAltos"
            name="quantidadeAltos"
            min="0"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="quantidadeJogos">Quantidade de Jogos</label>
          <input
            type="number"
            id="quantidadeJogos"
            [(ngModel)]="configuracaoGeracaoMultipla.quantidadeJogos"
            name="quantidadeJogos"
            min="1"
            max="20"
          />
        </div>

        <div class="campo-formulario">
          <label for="maximoRepetidos">Maximo de repetiçao entre jogos</label>
          <input
            type="number"
            id="maximoRepetidos"
            [(ngModel)]="
              configuracaoGeracaoMultipla.maximoNumeroRepetidosEntreJogos
            "
            name="maximoRepetidos"
            min="0"
            max="15"
          />
        </div>
      </div>

      <div class="acoes-formulario">
        <button type="submit" class="botao-gerar">
          Aplicar Configurações e gerar jogos
        </button>
      </div>
    </form>
  </section>

  <section class="bloco">
    <h2>Perfis de Geração</h2>

    <div class="lista-perfis">
      <div class="lista-perfis">
        <div class="perfil-card" *ngFor="let perfil of perfisGeracao">
          <h3>{{ perfil.nome }}</h3>
          <p>
            <strong>Quantidade de Jogos: </strong> {{ perfil.quantidadeJogos }}
          </p>
          <p><strong>Configurações: </strong></p>

          <ul>
            <li>
              <strong>Quantidade de Números: </strong>
              {{ perfil.configuracao.quantidadeNumeros }}
            </li>
            <li>
              <strong>Quantidade de Pares: </strong>
              {{ perfil.configuracao.quantidadePares }}
            </li>
            <li>
              <strong>Quantidade de Ímpares: </strong>
              {{ perfil.configuracao.quantidadeImpares }}
            </li>
            <li>
              <strong>Quantidade de Baixos: </strong>
              {{ perfil.configuracao.quantidadeBaixos }}
            </li>
            <li>
              <strong>Quantidade de Altos: </strong>
              {{ perfil.configuracao.quantidadeAltos }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="jogo-gerado-card" *ngIf="jogosGerados">
    <div class="acoes-jogo">
      <button class="botao-gerar" type="button" (click)="gerarNovosJogos()">
        Gerar Novo Jogo
      </button>
    </div>

    <div class="status-geracao" *ngIf="resultadoGeracaoMultipla">
      <p>
        <strong>Quantidade Solicitada: </strong>
        {{ resultadoGeracaoMultipla.quantidadeSolicitada }}
      </p>

      <p>
        <strong>Quantidade Gerada: </strong>
        {{ resultadoGeracaoMultipla.quantidadeGerada }}
      </p>

      <p>
        <strong>Tentativas Realizadas: </strong>
        {{ resultadoGeracaoMultipla.tentativasRealizadas }}
      </p>

      <p></p>
      <div
        [ngClass]="
          resultadoGeracaoMultipla.sucessoCompleto ? 'sucesso' : 'alerta'
        "
      >
        <strong>Status: </strong>
        {{
          resultadoGeracaoMultipla.sucessoCompleto
            ? "Sucesso Completo"
            : "Limite de Tentativas Atingido"
        }}
      </div>
    </div>

    <div class="lista-jogos-gerados">
      <div
        class="jogo-gerado-card"
        *ngFor="let jogo of jogosGerados; let i = index"
      >
        <h3>Jogo {{ i + 1 }}</h3>
        <div class="bolas">
          <span class="bola" *ngFor="let numero of jogo.numeros">
            {{ numero }}
          </span>
        </div>
        <div class="resumo-jogo">
          <p><strong>Pares: </strong> {{ jogo.totalPares }}</p>
          <p><strong>Ímpares: </strong> {{ jogo.totalImpares }}</p>
          <p><strong>Baixos: </strong> {{ jogo.totalBaixos }}</p>
          <p><strong>Altos: </strong> {{ jogo.totalAltos }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bloco" *ngIf="jogosGerados.length > 0">
  <h2>Matriz de Repetição entre Jogos Gerados</h2>

  <div class="legenda-matriz">
    <div class="item-legenda">
      <span class="cor-legenda baixa"></span>
      <span>Baixa Repetição (0-6)</span>
    </div>
    <div class="item-legenda">
      <span class="cor-legenda media"></span>
      <span>Média Repetição (7-9)</span>
    </div>
    <div class="item-legenda">
      <span class="cor-legenda alta"></span>
      <span>Alta Repetição (10 ou mais)</span>
    </div>
  </div>

  <div class="tabela-wrapper">
    <table class="tabela-matriz">
      <thead>
        <tr>
          <th>Jogo</th>
          <th *ngFor="let jogo of jogosGerados; let i = index">
            Jogo {{ i + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linha of matrizRepeticaoEntreJogos; let i = index">
          <td class="titulo-linha">{{ linha.nomeJogo }}</td>

          <td
            *ngFor="let valor of linha.valores; let j = index"
            [ngClass]="getClasseCelulaMatriz(valor, i, j)"
          >
            {{ getTextoCelulaMatriz(valor, i, j) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Resumo estastico dos Números</h2>

  <div class="resumo-grid">
    <div class="resumo-card destaque">
      <h3>Números mais sorteados</h3>
      <div class="lista-resumo">
        <div class="item-resumo" *ngFor="let item of numerosMaisFrequentes">
          <span class="numero">{{ item.numero }}</span>
          <span class="quantidade">{{ item.frequencia }} vezes</span>
        </div>
      </div>
    </div>
    <div class="resumo-card destaque-fraco">
      <h3>Números menos sorteados</h3>
      <div class="lista-resumo">
        <div class="item-resumo" *ngFor="let item of numerosMenosFrequentes">
          <span class="numero">{{ item.numero }}</span>
          <span class="quantidade">{{ item.frequencia }} vezes</span>
        </div>
      </div>
    </div>
  </div>
  <h2>Frequência dos Números</h2>
  <div class="frequencia-grid">
    <div class="frequencia-card" *ngFor="let item of frequencias">
      <span class="numero">{{ item.numero }}</span>
      <span class="quantidade">{{ item.frequencia }} vezes</span>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Faixa - Baixa e Alta</h2>
  <div class="faixa-grid">
    <div class="faixa-card" *ngFor="let item of resumoFaixa">
      <div class="faixa-topo">
        <span>{{ item.baixos }} baixos</span>
        <span>{{ item.altos }} altos</span>
      </div>
      <div class="faixa-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Faixa - Baixa e Alta</h2>
  <div class="tabela-wrapper">
    <table class="tabela-faixa">
      <thead>
        <tr>
          <th>Concurso</th>
          <th>Data</th>
          <th>Baixos</th>
          <th>Altos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseFaixa">
          <td>{{ item.concurso }}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.baixos }}</td>
          <td>{{ item.altos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Repetição</h2>
  <div class="repeticao-grid">
    <div class="repeticao-card" *ngFor="let item of resumoRepeticao">
      <div class="repeticao-topo">
        <span>{{ item.quantidadeRepetidos }} números repetidos</span>
      </div>
      <div class="repeticao-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Repetição</h2>
  <div class="tabela-wrapper">
    <table class="tabela-repeticao">
      <thead>
        <tr>
          <th>Concurso Atual</th>
          <th>Data Atual</th>
          <th>Concurso Anterior</th>
          <th>Data Anterior</th>
          <th>Quantidade Repetidos</th>
          <th>Números Repetidos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseRepeticao">
          <td>{{ item.concursoAtual }}</td>
          <td>{{ item.dataAtual }}</td>
          <td>{{ item.concursoAnterior }}</td>
          <td>{{ item.dataAnterior }}</td>
          <td>{{ item.quantidadeRepetidos }}</td>
          <td>{{ item.numerosRepetidos }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Resumo de Paridade</h2>
  <div class="paridade-grid">
    <div class="paridade-card" *ngFor="let item of resumoParidade">
      <div class="paridade-topo">
        <span class="descricao">{{ item.pares }} pares</span>
        <span class="quantidade">{{ item.impares }} ímpares</span>
      </div>
      <div class="paridade-total">
        {{ item.quantidadeConcursos }} concursos analisados
      </div>
    </div>
  </div>
</section>

<section class="bloco">
  <h2>Análise de Paridade</h2>
  <div class="tabela-wrapper">
    <table class="tabela-paridade">
      <thead>
        <tr>
          <th>Concurso</th>
          <th>Data</th>
          <th>Pares</th>
          <th>Ímpares</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of analiseParidade">
          <td>{{ item.concurso }}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.pares }}</td>
          <td>{{ item.impares }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bloco">
  <h2>Histórico de Concursos</h2>
  <div *ngFor="let concurso of historico" class="card-concurso">
    <h3>Concurso {{ concurso.concurso }} - {{ concurso.data }}</h3>

    <div class="bolas">
      <span class="bola" *ngFor="let bola of concurso.bolas">
        {{ bola }}
      </span>
    </div>
  </div>
</section>
